body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eff4e3;
  color: white;
}

.container {
  width: 400px;
  height: 400px;
  background: rgb(13, 120, 186);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(101, 160, 34);
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
}

#todo-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  outline: none;

  border-radius: 10px;
}

#add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#add-button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

li button:hover {
  background: #c82333;
}
